* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: block;
    position: relative;
    top: 0px;
    width: 375px;
    height: 298px;
    z-index: 0;
    border-radius: 0 0 32px 0;
}

.notification{
    position: relative;
    top: -208px;
    left: 320px;
    width: 22px;
    height: 21,97px;
}

.addPedidos {
    position: absolute;
    top: 100px;
    display: block;
    width: 327px;
    height: 296px;
    z-index: 1;
}

.qRCode{
    position: relative;
    top: 150px;
    right: -20px;
    height: 222px;
    width: 327px;
}
.calculation{
    position: relative;
    top: -70px;
    left: 200px;
    height: 222px;
    width: 327px;
}
.transactions {
    position: relative;
    top: -220px;
    left: 30px;
    height: 65px;
    width: 315px;
}
.festival{
    position: relative;
    top: -200px;
    height: 86px;
    width: 327px;
}
.friends{
    position: relative;
    top: -220px;
    height: 86px;
    width: 327px;
}
.menuFooter{
    position: relative;
    margin-top: 20px;
    top: -250px;
    height: 94.5px;
    width: 375px;
}