* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 375px) {
    
    .header {
        height: 86px;
        margin-top: 28%;
        margin-left: 6.4%;
        margin-right: 6.13%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .go-back{
        width: 6vw;
        height: 35px;
    }

    p {
        font-family: 'Avenir';
        font-size: 32px;
        letter-spacing: 0.62px;
        line-height: 40px;
        font-weight: 800;
        margin-top: 9%;
        
    }

    .social {
        margin-top: 27.65%;
        width: 100%;
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .face-button {
        border: 1px solid rgba(119,134,158,0.3);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .google-button {
        border: 1px solid rgba(119,134,158,0.3);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .face-logo {
        margin-top: 1.42%;
        margin-bottom: 1.42%;
        margin-left: 19%;
        margin-right: 19%;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .google-logo {
        margin-top: 1.42%;
        margin-bottom: 1.42%;
        margin-left: 19%;
        margin-right: 19%;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .login {
        display: flex;
        flex-direction: column;
        margin-top: 5%;

    }

    input[type=text]{
        margin-left: 6.4%;
        margin-top: 10%;
        width: 80%;
        padding:5px; 
        font-size: 14px;
        font-family: 'Avenir';
        font-weight: 500;
        border: none;
        border-bottom:1.5px solid #ccc; 
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    input[type=password]{
        margin-left: 6.4%;
        margin-top: 10%;
        width: 80%;
        padding:5px; 
        font-size: 14px;
        font-family: 'Avenir';
        font-weight: 500;
        border: none;
        border-bottom:1.5px solid #ccc; 
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .radio-button{
        margin-top: 8%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .radio {
        width: 50%;
        margin-left: 6%;
        display: flex;
        justify-content: flex-start;
    }

    .radio>label {
        padding-left: 4%;
    }

    .forgot {
        width: 50%;
        margin-right: 10%;
        display: flex;
        justify-content: flex-end;
    }

    .forgot>p{
        font-family: 'Avenir';
        font-size: 13px;
        color: rgba(0,71,204,1)
    }
    
    label {

        font-family: 'Avenir';
        color: rgba(119,134,158,1);
        font-size: 13px;
    }

    input[type=button] {
        margin-top: 10%;
        background-color: rgba(0,71,204,1);
        border-radius: 6px;
        width: 90%;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        color: rgba(255,255,255,1);
      }

    .submit-button {
        display: flex;
        justify-content: center;
    }

    .subscribe {
        margin-top: 3%;
        font-family: 'Avenir';
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;

    }

    

    
}