* {
    margin: 0px;
    padding: 0px;
}

h3 {
    height: 28px;
    width: 209px;
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 142px;
    margin-bottom: 716px;
    margin-top: 68px;
    color: #042C5C;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}