* {
    margin: 0;
    padding: 0;
}
.header {
    background: url("img/blue-rectangle.png");
    background-repeat: no-repeat;
    height: 347px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

