* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 375px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        height: 13px;
        
    }
}